{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/dirceu.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png'%}">
    <link rel="manifest" href="/site.webmanifest">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
     
    <div class="container">
        <div class="btn-mobile">
            <div class="hamburguer"></div>
            <div><span>Fechar</span></div>
        </div>
        <!-- == Início do header == -->
        <header>
            <div class="img-wrapper"> 
                <img src="{% static 'img/bg.jpg'%}" alt=""> <!-- Minha imagem de fundo -->
            </div>
            <div class="banner">
                <h1>Web Developer & Front End Designer</h1>
                <p>Dirceu de Almeida Aguiar</p>
                <button>Saiba mais</button>
            </div>
        </header>
        <!-- == fim do header == -->

        <!-- == Início do sidebar == -->
        <aside class="sidebar">
            <nav>
                <ul class="menu">
                    <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Conhecimento</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Projetos</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Contatos</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Orçamento</a></li>
                </ul>
            </nav>

            <div class="social-media">
                <a class="cls-i" href="#"><i class="fab fa-twitter"></i></a>
                <a class="cls-i" href="#"><i class="fab fa-github-alt"></i></a>
                <a class="cls-i" href="#"><i class="fab fa-facebook"></i></a>
            </div>
        </aside>

        <section class="sessao-conhecimentos">
            <div class="sessao-header">
                <h1>Meus conhecimentos</h1>
            </div>
            <div class="conhecimentos">
                <div class="conhecimento" style="grid-column: 4/7; grid-row: 1/2;">
                    <div class="conhecimento-header">
                        <i  class="icone fab fa-html5"></i>
                        <h3>HTML5</h3>
                    </div>
                    <div class="conhecimento-texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, iure autem natus consequatur optio quaerat officia ut maiores iusto voluptates, neque, veritatis nam dolorem voluptate ullam dicta velit dolores deleniti?</p>
                    </div>
                </div>
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="icone fab fa-css3-alt"></i>
                        <h3>CSS3</h3>
                    </div>
                    <div class="conhecimento-texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, iure autem natus consequatur optio quaerat officia ut maiores iusto voluptates, neque, veritatis nam dolorem voluptate ullam dicta velit dolores deleniti?</p>
                    </div>
                </div>
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="icone fas fa-pencil-alt"></i>
                        <h3>Designer</h3>
                    </div>
                    <div class="conhecimento-texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, iure autem natus consequatur optio quaerat officia ut maiores iusto voluptates, neque, veritatis nam dolorem voluptate ullam dicta velit dolores deleniti?</p>
                    </div>
                </div>
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="icone fab fa-js"></i>
                        <h3>Javascript</h3>
                    </div>
                    <div class="conhecimento-texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, iure autem natus consequatur optio quaerat officia ut maiores iusto voluptates, neque, veritatis nam dolorem voluptate ullam dicta velit dolores deleniti?</p>
                    </div>
                </div>
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="icone fab fa-bootstrap"></i>
                        <h3>Bootstrap</h3>
                    </div>
                    <div class="conhecimento-texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, iure autem natus consequatur optio quaerat officia ut maiores iusto voluptates, neque, veritatis nam dolorem voluptate ullam dicta velit dolores deleniti?</p>
                    </div>
                </div>
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="icone fab fa-github"></i>
                        <h3>Git e Github</h3>
                    </div>
                    <div class="conhecimento-texto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, iure autem natus consequatur optio quaerat officia ut maiores iusto voluptates, neque, veritatis nam dolorem voluptate ullam dicta velit dolores deleniti?</p>
                    </div>
                </div>
                <div class="imagem">
                    <img src="{% static 'img/conhecimentos.png'%}" alt="">
                </div>
            </div>
        </section>
        <!-- início conteúdos -->
        <!-- <section class="sessao-conhecimentos">
            <div class="sessao-header">
                <h1>Conhecimentos</h1>
            </div> -->

            <!-- <div class="conhecimentos">
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-html5"></i>
                        <h3>HTML</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid culpa inventore laudantium voluptates nulla delectus iusto itaque necessitatibus sed? Optio aut dolorum molestias officiis harum odit aperiam autem perspiciatis aliquam.</p>
                    </div>
                </div> -->

                <!-- <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-css3-alt "></i>
                        <h3>CSS</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel, tenetur nisi ducimus quibusdam amet necessitatibus. Soluta, ullam corrupti ad odit ipsum nesciunt laudantium non expedita cupiditate et iste placeat.</p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fas fa-pencil-alt "></i>
                        <h3>Designer</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel, tenetur nisi ducimus quibusdam amet necessitatibus. Soluta, ullam corrupti ad odit ipsum nesciunt laudantium non expedita cupiditate et iste placeat.</p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-js"></i>
                        <h3>Javascript</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel, tenetur nisi ducimus quibusdam amet necessitatibus. Soluta, ullam corrupti ad odit ipsum nesciunt laudantium non expedita cupiditate et iste placeat.</p>
                    </div>
                </div>
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-bootstrap"></i>
                        <h3>Bootstrap</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel, tenetur nisi ducimus quibusdam amet necessitatibus. Soluta, ullam corrupti ad odit ipsum nesciunt laudantium non expedita cupiditate et iste placeat.</p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-github "></i>
                        <h3>Git e Github </h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel, tenetur nisi ducimus quibusdam amet necessitatibus. Soluta, ullam corrupti ad odit ipsum nesciunt laudantium non expedita cupiditate et iste placeat.</p>
                    </div>
                </div>                 -->
            <!-- </div>
        </section> -->
    </div>
    <!-- == fim do sidebar == -->


    <script src="{% static 'js/dirceu.js'%}"></script>
</body>
</html>